@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="center-column">

    <div class="title"><h1>TwitterWebTracker</h1></div>

    <form method="post">
            <input type="text" asp-for="TwitterUserName" placeholder="type twitter user name" />
            <button type="submit" class="btn-info">find</button>
    </form>

</div>

