@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="center-column">

    <div class="title"><h1>TwitterWebTracker</h1></div>

    <form method="post">
            <input type="text" asp-for="TwitterUserName" placeholder="type twitter user name" />
            <button type="submit" class="btn-info">find</button>
    </form>

    <div class="todo-list">
        @foreach (var twitt in Model.Twitts.Data)
        {
            <div class="item-row-v2">@twitt.Text</div>
            <div class="item-date">@twitt.Created_at.</div>
        }
    </div>
</div>

