@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <input type="text" asp-for="TwitterUserName" placeholder="type twitter user name" />
    <button type="submit">submit</button>
</form>

<ul>
    @foreach (var twitt in Model.Twitts.Data)
    {
        <li>@twitt.Id || @twitt.Text </li>
}
</ul>

<a class=\"twitter-timeline\" href=\"https://twitter.com/TwitterDev\">Tweets by TwitterDev</a>\n
<script async src=\"//platform.twitter.com/widgets.js\" charset=\"utf-8\"></script>
